<!-- Icon  -->
    <link rel="icon" href="resources/images/icon.jpg">
<style>
body {
	  background-image: url("resources/images/4.jpg");
	  background-size:1500px 750px;
	  background-repeat:no-repeat;
	}
</style>
<b ng-show="user.role!='ADMIN'">You are not eligible to view blogs waiting for approval</b>
<div ng-show="user.role=='ADMIN'">
<div class="panel panel-info">
<div class="panel-heading">
<b>List Of Blogs waiting for Approval</b>
</div>
<div class="panel-body">
<b ng-show="blogsWaitingForApproval.length==0">No more blogs is here for approval</b>
<ul style="list-style:none">
<li ng-repeat="blogPost in blogsWaitingForApproval">
<a href="#/getblogswaitingforapproval/{{blogPost.blogPostId}}"><b>Blog Title  :{{blogPost.blogTitle}}</b></a><br>
PostedOn    :{{blogPost.postedOn | date:'dd-MMM-yyyy hh:mm:ss'}}<br>
Author's Email:{{blogPost.author.email}}<br>
Posted By   :{{blogPost.author.firstname}}&nbsp;{{blogPost.author.lastname}}

</div>
</div>
</div>