<html>
<!-- Icon  -->
    <link rel="icon" href="resources/images/icon.jpg">
<style>
body {
	  background-image: url("resources/images/9.jpg");
	   background-size:1500px 750px;
	  background-repeat:no-repeat; 
	}
</style>
<b>Edit User Details</b><br>

<span style="color:red">{{error.errorMessage}}</span>

<form>
<pre>
Enter email      :<input type="email" ng-model="user.email" disabled>
Enter password   :<input type="password" ng-model="user.password">
Enter FirstName  :<input type="text" ng-model="user.firstname">
Enter LastName   :<input type="text" ng-model="user.lastname">
Enter PhoneNumber:<input type="text" ng-model="user.phonenumber">
Select Role      :<select ng-model="user.role">
					<option value="STUDENT">Student
					<option value="ALUMNI">Alumni
					<option value="EMPLOYEE">Employee
				  </select>
<button ng-click="updateUserProfile(user)" class="btn btn-success">Edit</button>
</pre>
</form>
</html>